*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#070712;
color:white;
min-height:100vh;
overflow-y:auto;
display:flex;
justify-content:center;
align-items:center;
}

.bg-animation{
position:fixed;
inset:0;
background:
radial-gradient(circle at 20% 20%,#5b2cff33,transparent),
radial-gradient(circle at 80% 80%,#00ffd533,transparent);
animation:movebg 20s infinite alternate;
z-index:-1;
}

@keyframes movebg{
from{transform:scale(1);}
to{transform:scale(1.3);}
}

.app{
width:420px;
background:#0f0f1f;
padding:25px;
border-radius:18px;
box-shadow:0 0 25px #6a00ff55;
}

h1{
text-align:center;
font-size:26px;
}

.subtitle{
text-align:center;
font-size:13px;
color:#aaa;
margin-bottom:20px;
}

.panel label{
display:block;
margin-top:10px;
font-size:13px;
}

select{
width:100%;
padding:10px;
margin-top:5px;
background:#1a1a30;
color:white;
border:none;
border-radius:8px;
}

button{
margin-top:18px;
width:100%;
padding:12px;
background:linear-gradient(90deg,#7b00ff,#00ffd5);
border:none;
border-radius:10px;
color:black;
font-weight:700;
cursor:pointer;
transition:0.3s;
box-shadow:0 0 15px #7b00ff;
}

button:hover{
transform:scale(1.05);
box-shadow:0 0 25px #00ffd5;
}

#loader{
display:none;
text-align:center;
margin-top:20px;
color:#00ffd5;
}

#output{
margin-top:20px;
white-space:pre-line;
font-size:14px;
background:#111130;
padding:15px;
border-radius:10px;
}

