*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#060612;
color:white;
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
overflow-y:auto;
}

.animated-bg{
position:fixed;
width:200%;
height:200%;
background:linear-gradient(45deg,#7b00ff,#00ffd5,#ff00aa);
animation:bgmove 15s infinite alternate;
z-index:-1;
filter:blur(120px);
}

@keyframes bgmove{
0%{transform:translate(0,0);}
100%{transform:translate(-50%,-50%);}
}

.container{
width:420px;
padding:20px;
background:#0e0e20;
border-radius:20px;
box-shadow:0 0 25px #7b00ff;
}

h1{
text-align:center;
}

.tagline{
text-align:center;
font-size:13px;
color:#aaa;
margin-bottom:20px;
}

label{
font-size:13px;
margin-top:10px;
display:block;
}

select{
width:100%;
padding:10px;
background:#1a1a30;
border:none;
border-radius:8px;
color:white;
margin-top:5px;
}

button{
margin-top:18px;
width:100%;
padding:12px;
background:linear-gradient(90deg,#7b00ff,#00ffd5);
border:none;
border-radius:10px;
font-weight:700;
cursor:pointer;
transition:0.3s;
box-shadow:0 0 15px #7b00ff;
}

button:hover{
transform:scale(1.05);
box-shadow:0 0 25px #00ffd5;
}

#loader{
display:none;
text-align:center;
margin-top:20px;
color:#00ffd5;
}

#output{
margin-top:20px;
background:#111130;
padding:15px;
border-radius:10px;
white-space:pre-line;
font-size:14px;
}

